.viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
}

.texture-wrapper {
  /* position: relative; */
  /* width: 960px; */
  height: 560px;
  /* overflow: visible; */
}

.texture-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  width: 100%;
  height: 10px;
  background: #ededed;
  border-radius: 8px;
  outline: none;
  /* transition: background 450ms ease-in; */
  -webkit-appearance: none;
  accent-color: #b5b5b5;
}

.slider-caption {
  /* margin-bottom: 0px; */
  text-align: center;
}

.caption-list {
  width: 960px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.nav-buttons {
  margin-top: 20px;
}

.nav-buttons button {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 200;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
}

.nav-buttons button:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.toggle-grid-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.25em 0.5em;
  font-size: 12px;
  background: white;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.toggle-grid-btn:hover {
  background-color: rgb(236, 236, 236);
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
